body {
    font-family: Arial, sans-serif;
    text-align: center;

    background-image: url("https://www.xtrafondos.com/wallpapers/cielo-al-atardecer-reflejado-en-el-mar-4615.jpg");
  }
  
  h1 {
    color: #333;
  }
  
  input {
    padding: 5px;
    margin: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }

  #miBoton:disabled{
    background-color: red;
  }

  #result {
    margin-top: 20px;

  }

  #tirada{
    margin-top: 20px; 
    background-color: aliceblue;
  }
  