@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/448/174/357/neon-4k-hd-best-for-desktop-wallpaper-preview.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
}
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  }
  
  h1 {
    color: white;
  }
  
  input {
    padding: 5px;
    margin: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
  }
  
  